html, body {
  margin: 0;
  padding: 0;
}
.outer {
 display: table;
 height: 100%;
 width: 100%;
}
.inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#container {
  position: relative;
  margin: 0 auto;
  display: block;
  border: 1px solid black;
  width: 90vw;
  height: 90vw;
  overflow: hidden;
}
html, body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}